/* ======================================================================================= */


/* Global */

html {
    font-family: Tahoma;
    font-size: 20px;
}

body {
    margin: 20px;
    padding: 40px;
}















/* ======================================================================================= */


/* Blog Head */

#blog-head {
    border: 5px solid teal;
    color: white;
    padding: 20px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3b679e+0,2b88d9+50,207cca+51,7db9e8+100;Blue+Gloss+%232 */
    background: rgb(59, 103, 158);
    /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(59, 103, 158, 1) 0%, rgba(43, 136, 217, 1) 50%, rgba(32, 124, 202, 1) 51%, rgba(125, 185, 232, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(59, 103, 158, 1) 0%, rgba(43, 136, 217, 1) 50%, rgba(32, 124, 202, 1) 51%, rgba(125, 185, 232, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(59, 103, 158, 1) 0%, rgba(43, 136, 217, 1) 50%, rgba(32, 124, 202, 1) 51%, rgba(125, 185, 232, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

#blog-head--title {
    font-size: 2.5rem;
    text-decoration: underline;
    text-align: center;
    letter-spacing: 4px;
}

.blog-head--description {
    font-size: 1rem;
    text-align: center;
    letter-spacing: 1.2px;
}






/* ======================================================================================= */


/* Blog Body */

#blog-body {}

.blog-body--subtitle {
    font-size: 1.5rem;
    text-align: center;
    font-variant: small-caps;
    text-decoration: underline;
}






/* ======================================================================================= */


/* Form */

#input-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-field {
    font-size: 0.75rem;
    max-width: 500px;
    padding: 20px;
    margin: 15px 0;
    text-align: center;
}

#form-field--title {
    font-size: 1.25rem;
    border: none;
    border-bottom: 2px solid black;
}

#form-field--story {
    min-width: 300px;
}

#form-field--author {}

#form-field__status-text {
    color: white;
    padding: 10px;
    background-color: lightseagreen;
}

#form-field__status-text:hover {
}

#form-button--submit {
    font-size: 0.75rem;
    margin: 30px 0;
    /*font-variant: small-caps;*/
    text-transform: uppercase;
    padding: 10px 15px;
    font-weight: 900;
    border-radius: 25px;
    border: 2px solid slategrey;
}

#form-button--submit:hover {
    border: 2px solid darkgreen;
    background: #e6f0a3;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #e6f0a3 0%, #d2e638 50%, #c3d825 51%, #dbf043 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #e6f0a3 0%, #d2e638 50%, #c3d825 51%, #dbf043 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #e6f0a3 0%, #d2e638 50%, #c3d825 51%, #dbf043 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6f0a3', endColorstr='#dbf043', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}







/* ======================================================================================= */


/* Individual Post */

.individual-post {
    border: 1px dotted black;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    max-width: 1000px;
    word-wrap: break-word;
    -webkit-box-shadow: 0px 6px 22px 1px rgba(15, 15, 15, 0.68);
    -moz-box-shadow: 0px 6px 22px 1px rgba(15, 15, 15, 0.68);
    box-shadow: 0px 6px 22px 1px rgba(15, 15, 15, 0.68);
    display: flex;
    flex-direction: column;
}

.individual-post--title {
    text-decoration: underline;
    font-size: 1.6rem;
    margin: 10px 0;
}

.individual-post--story {
    font-size: 1rem;
}


.individual-post--details--author {
    margin: 0 0 10px;
    padding: 0;
    color: slategrey;
    font-size: 0.7rem;
}

.individual-post--details--timestamp {
    margin: 0;
    padding: 0;
    color: slategrey;
    font-size: 0.7rem;
    text-align: right;
}

.individual-post--icons__container {
    align-self: flex-end;
}

.individual-post--icon {
    font-size: 1rem !important;
    margin: 0 2px;
    color: slategrey;
}

.individual-post--icon:hover {
    color: black;
}