<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Le Blog</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div id="app">
        <section id="blog-head">
            <h1 id="blog-head--title">Le Blog</h1>
            <p class="blog-head--description">This blog is created using Vue.js. The posts made to the blog are currently stored using Local Storage.</p>
        </section>
        <section id="blog-body">
            <h2 class="blog-body--subtitle">Share with the World</h2>
            <form id="input-form" v-on:submit.prevent="submitForm">
                <input required type="text" name="blogPostTitle" id="form-field--title" class="form-field" placeholder="Title" v-model.trim="form.postTitle">
                <textarea required rows="4" name="blogPostStory" id="form-field--story" class="form-field" placeholder="Story..." v-model="form.postStory"></textarea>
                <input required type="text" name="blogPostAuthor" id="form-field--author" class="form-field" placeholder="Author" v-model.trim="form.postAuthor">
                <p id="form-field__status-text" v-on:click="changeStatus" v-if="editStatus">Edit Mode [X]</p>
                <input type="submit" name="submit" id="form-button--submit" value="Post to Timeline">
            </form>
            <div class="individual-post" v-for="(post, key) in entries" :key="key">
                <p class="individual-post--details--timestamp">{{ post.timeStamp }}</p>
                <h1 class="individual-post--title">{{ post.postTitle }}</h1>
                <p class="individual-post--details--author">by {{ post.postAuthor }}</p>
                <p class="individual-post--story"><span v-html="post.postStory"></span></p>
                <div class="individual-post--icons__container">
                    <i class="fa fa-pencil-square-o individual-post--icon" aria-hidden="true" v-on:click="edit_post(post)"></i>
                    <i class="fa fa-trash individual-post--icon" aria-hidden="true" v-on:click="delete_post(key)"></i>
                </div>
            </div>
        </section>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.js"></script>
    <script type="text/javascript" src="js/vue-script.js"></script>
</body>

</html>